{% extends "base.html" %}

{% block content %}
<h2>Edit Entry</h2>

<!-- TODO: Create a form that sends a POST request -->

<form method="POST">
    
    <input name="message" placeholder="Updated Message:" value="{{message['message']}}"><br>
    <button type="submit">Update Message</button>
    <!-- TODO: Pre-fill title using entry data -->
    <!-- Hint: value="{{ entry['title'] }}" -->

    <!-- TODO: Pre-fill content using entry data -->

    <!-- TODO: Add submit button -->

</form>
<a href="{{url_for('dashboard')}}">back to Dashboard</a>

<!-- TODO: Add a link back to dashboard -->

{% endblock %}