{% extends "base.html" %}



{% block content %}

<h2>Da Great Message Board</h2>

<h3>Welcome, {{ username }}!</h3>

<!-- TODO: Add a button or link to create a new entry -->
<!-- Example: <a href="/create">Create New Entry</a> -->

<h3>There's a message from {{ author }}, it says {{ message }}<h3>

<!--
{% for entry in entries %}
    <div>
        <h3>{{ entry['title'] }}</h3>
        <p>{{ entry['content'] }}</p>

        <!-- TODO: Add Edit link -->
        <!-- Example: /edit/{{ entry['id'] }} -->

        <!-- TODO: Add Delete link -->
        <!-- Example: /delete/{{ entry['id'] }} -->

    </div>
    <hr>
{% endfor %}
-->

<!-- TODO: If no entries exist, display a message like:
"No entries yet!" -->

<br>

<!-- TODO: Add a logout button -->
<a href="/dashboard"><button>Back to the Dashboard</button></a>

{% endblock %}